.page-title {
  text-align: center;
  color: #252c6a;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  box-shadow: 1 4px 8px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.main_container_text{
  margin-right: 10px;
}

.course-list-container{
justify-content: center;
}

#text {
  margin-left: 80px;
}

//  cards
.course_item {
  position: relative;
  margin-right: 10px;
  width: 400px;
  height: 300px;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; /* Add pointer cursor on hover */
  transition: transform 0.3s ease-in-out;
}

.course_item a {
  color: white;
  text-decoration: none; /* Remove underline */
  font-size: 35px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); /* Adjusted text shadow values */
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;;
  z-index: 1;
  background-size: 100%; /* Initial background-size */
 }

.course_item:hover {
  transform: scale(1.1);
}

.course_item:hover a {
  font-size: 40px; /* Change font size on hover */
  text-shadow: 4px 2px 4px #fd1015;
  color: #ffb71b; /* Change text color on hover */
}


/////////////////////////////////////////////////
///
/* Reset default margin and set up flex container */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: white;
  font-family:  'Montserrat', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

/* Flex container for main content */
.main-container2 {
  color: #252c6a;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 22px;
  font-size: 22px;
  flex: 1;
  background-color: white;
  margin-bottom: 25px;
}

.third {
  margin-top: -140px;
  margin-right: 60px;
}

/* Styles for your banner */
.banner {
  background-color: #252c6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Styles for your logo */
.tas-logo img {
  width: 200px;
  height: 200px;
}

.text-center{
  margin-left: -200px;
  font-weight: bold;
}

.libraryname {
font-size: 70px;
color: white;
}

.credits {
  // margin-top: 45px;
  font-size: 38px;
  color: #ffb71b;
}
/* Search bar styles */
.search__container {
  background-color: #252c6a;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
}

.search__input {
  width: 80%;
  padding: 12px 24px;
  background-color: #252c6a;
  transition: transform 250ms ease-in-out;
  font-size: 16px;
  line-height: 18px;
  color: #ffb71b;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;

  &::placeholder {
    color: #ffb71b;
    text-transform: capitalize;
    letter-spacing: 1.5px;
  }

  &:hover,
  &:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #ffb71b;
    border-radius: 0;
    background-color: #252c6a;
    background-position: 100% center;
  }
}


.search-help {
  background-color: #252c6a;
  margin-left: 20px;
  border-color: #0071ce;
  color: white;
  border-radius: 9%;

  &:hover {
    color: #ffb71b;
  }
}
/* Styles for other elements like buttons, dropdown, etc. */

/* Footer styles */
footer {
  background-color: #252c6a;
  color: white;
  padding: 20px;
  width: 100%;
}

/* Cards container styles */
.cards-container2 {
  margin-left: 21px;
}

.cards-container3 {
  margin-left: -1px;
}


// .custom-footer {
//   padding: 20px;
//   /* Remove 'position' property or set it to 'relative' */
//   width: 100%;
// }

.cards-container2 {
  margin-left: 21px;
}

.cards-container3 {
  margin-left: -1px;
}

// dropdown

.menu {
  display: flex;
  background-color: #252c6a;
}

.dropdown {
  display: inline-block;
}

.dropdown .btn-primary {
  background-color: #252c6a;
  border: none; /* Remove the border */
  color: #fff; /* Set the initial font color */
}

.dropdown:hover .btn-primary {
  color: #ffb71b; /* Change font color on hover */
  position: relative;
}

.dropdown .btn-primary::before {
  content: "";
  width: 0; /* Initial width set to 0 */
  height: 5px;
  background-color: #ffb71b;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0; /* Initial opacity set to 0 */
  transition: width 0.3s ease, opacity 0.3s ease; /* Add transitions for width and opacity */
}

.dropdown:hover .btn-primary::before {
  width: 30px;
  opacity: 1;
}
.dropdown .dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #252c6a;
}

.dropdown .dropdown-menu .dropdown-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #00adef; /* Add border to each dropdown item */
}

.dropdown .dropdown-menu .dropdown-item::before {
  content: "";
  width: 0; /* Initial width set to 0 */
  height: 5px;
  background-color: #00adef;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0; /* Initially invisible */
  transition: width 0.5s ease, opacity 0.5s ease; /* Add transitions for width and opacity */
}

.dropdown .dropdown-menu .dropdown-item:hover::before {
  width: 30px;
  opacity: 1;
}


.dropdown .dropdown-menu .dropdown-item:hover::before {
  opacity: 1; /* Make it visible on hover */
}

.dropdown .dropdown-menu a {
  color: #fff; /* Set the initial font color for dropdown items */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions */
  position: relative;
}

.dropdown .dropdown-menu a:hover {
  background-color: #252c6a;
  color: #00adef;
}
