<body>
<%# BANNER %>
<div class="container-fluid banner d-flex justify-content-between align-items-center">
  <!-- Logo -->
  <div class="logo">
    <div class="col-12 tas-logo">
      <a href="/" title="Home" rel="home" id="logo">
        <img src="https://usic.tas.edu.tw/sites/default/files/Formal%20Crest%20-%20White%20megad%20up%20for%20USIC.png" title="tas-logo" alt="tas-logo">
      </a>
    </div>
  </div>

  <div class="second text-center">
    <div class="libraryname">
      Upper School Library
    </div>
    <div class="credits">
      Joanna Nichols Memorial Libraries
    </div>
  </div>

  <!-- googlebar translator -->
  <div class="third text-right">

      <div class="dropdown language">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-globe"></i> <!-- Font Awesome globe icon -->
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Chinese</a></li>
          <li><a class="dropdown-item" href="#">French</a></li>
          <li><a class="dropdown-item" href="#">Hindi</a></li>
          <li><a class="dropdown-item" href="#">...</a></li>
        </ul>
      </div>
    </div>
</div>

<%# SEARCH BAR %>
<div class="search__container">
    <input class="search__input" type="text" placeholder="Find books, articles, videos and more...">

    <button class= "search-help">
      search guide
    </button>
</div>
<%# end of SEARCH BAR %>
<%# end of BANNER %>

<%# DROPDOWN MENU %>
<div class="menu">
  <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Guides
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Research Guide</a></li>
      <li><a class="dropdown-item" href="#">Course Guides</a></li>
      <li><a class="dropdown-item" href="#">Citation Styles guide</a></li>
      <li><a class="dropdown-item" href="#">Faculty</a></li>
    </ul>
  </div>

    <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      e-Resources
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Research Guide</a></li>
      <li><a class="dropdown-item" href="#">e-Resource List</a></li>
      <li><a class="dropdown-item" href="#">Journal Finder</a></li>
    </ul>
  </div>

    <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Collections
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Search for Books and e-Books</a></li>
      <li><a class="dropdown-item" href="#">Sora e-Books, Audio & Magasines</a></li>
      <li><a class="dropdown-item" href="#">Upper School Course Reserve & Readings</a></li>
      <li><a class="dropdown-item" href="#">English Required Texts & Summer Reading</a></li>
    </ul>
  </div>

      <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      Services
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">About Us</a></li>
      <li><a class="dropdown-item" href="#">Appt. with Librarian</a></li>
      <li><a class="dropdown-item" href="#">Request: Book Purchase ? Journal Article</a></li>
      <li><a class="dropdown-item" href="#">Request: Item from the Book Room</a></li>
      <li><a class="dropdown-item" href="#">Reserve: Study Room</a></li>
    </ul>
  </div>

      <div class="dropdown">
      <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
      TAS Libraries
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Chinese Library</a></li>
      <li><a class="dropdown-item" href="#">Lower School Library</a></li>
      <li><a class="dropdown-item" href="#">Middle School Library</a></li>
    </ul>
  </div>
</div>
<%# end of DROPDOWN MENU %>


<%# Main WRAPPER %>
<div class="main-container2">
<div class="container-fluid mt-5 mb-5">
    <h1 class="page-title">Course and Subject Guides</h1>
  </div>

  <div class="content">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
        <div class="field-item even" property="content:encoded">
          <div>
            <div id="text">
            <p >Click on course/subject specific guides below for links from your teachers and USIC. Go to&nbsp;<a href="https://usic.tas.edu.tw/e-resource-guide" target="_blank">Research Guides</a>&nbsp;to start research papers.</p>
            <p><strong>Researching Taiwan? See&nbsp;<a href="https://usic.tas.edu.tw/node/2275" target="_blank">Taiwan Resources</a> page.</strong></p>
            </div>
            <div class="course-list-container row">
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGxlbQIfMguWujgOYm59OuO1EFJHFUnEZoxPxPI8lYGp9bsMoJbGqAADQrBOVRWQx5fSo&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Computer Science</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://png.pngtree.com/background/20230613/original/pngtree-all-souls-college-a-part-of-oxford-university-in-picture-image_3399134.jpg?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/node/2264" target="_blank">
                  <div class="button-content">English</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://cdn.thecollector.com/wp-content/uploads/2023/08/when-was-the-early-high-late-renaissance-art-period.jpg?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/node/2263" target="_blank">
                  <div class="button-content">Fine Arts</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://esbchs.blackgold.ca/wp-content/uploads/sites/30/2021/03/worldhistory.png?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/upper-school-library-course-guides" target="_blank">
                  <div class="button-content">History</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ34qOk48EyPUhfKU5Q59W0lF67HyP80it-Bg&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Math</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFhuTGyDbKqzSBs1u7Q4oSQYayvkdIhvslAA&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Performing arts</div>
                </a>
              </div>

              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMSq0Pkndu1ta2GwNwviv8nKZ4dF6uPbtKlw&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Science</div>
                </a>
              </div>
              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwUfqjtbsLQ7_L3AS2tneQxo24QCPzMuk69Q&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Social Science</div>
                </a>
              </div>

              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-PZc0CFSwfcWG7iDA4TwdHo1b8wyOapxXpw&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">Taiwan</div>
                </a>
              </div>

              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvOWM3dGRrGGDz01y3zWmLPw1edW5AwOQ93A&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">TOK</div>
                </a>
              </div>

              <div class="col-3 mt-3 d-flex justify-content-center course_item clickable-div" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeFJ-uRNk8N8jxvlB3rgVxpIOOnTf3odDCSA&usqp=CAU?width=1400&quality=70'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <a href="https://usic.tas.edu.tw/computer-science" target="_blank">
                  <div class="button-content">World Language</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# Eend of WRAPPER %>

<%# test %>
 <%# <div class="container-fluid mt-5 mb-5">

https://cdn.thecollector.com/wp-content/uploads/2023/08/when-was-the-early-high-late-renaissance-art-period.jpg?width=1400&quality=70
<%# end of test %>

<%# FOOTER ( c/c from tas) %>
<footer>
<div id="footer" class="js_footer flex-footer">
  <div class="row">
    <div class="section">
      <div id="block-hf-footer-hf-footer-custom" class="block block-hf-footer ft-custom align_left">


  <div class="content">
    <div class="custom-footer"><div class="USICInfo">
<div class="USICInfo-img"><img src="https://usic.tas.edu.tw/sites/default/files/tas.png"></div>

<div class="USICInfo-items">
<div class="USICInfo-item">
<div>Joanna Nichols Memorial Libraries</div>

<div>Taipei American School</div>

<div>Taipei, Taiwan</div>
</div>

<div class="USICInfo-item">
<div>Phone: +8862 2873 9900</div>

<div>Email: <a href="mailto:usic@tas.edu.tw">usic@tas.edu.tw</a></div>

<div>URL: <a href="https://www.tas.edu.tw/academics/libraries">www.tas.edu.tw</a></div>
</div>

<div class="USICInfo-item">
<div>&nbsp;</div>

<div>&nbsp;</div>

<div>&nbsp;</div>
</div>
</div>
</div>

<div class="USICcopyright">©2024&nbsp;<a href="https://www.tas.edu.tw">Taipei American School</a>. All Rights Reserved</div>
<style type="text/css">#block-hf-footer-hf-footer-contact {
		display: none;
	}
	.USICInfo {
		color: #c6c6c6;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}
	.USICInfo .USICInfo-img,
	.USICInfo .USICInfo-items {
		vertical-align: top;
	}
	.USICInfo .USICInfo-img {
		display: inline-block;
		width: 10%;
		text-align: center;
	}
	.USICInfo .USICInfo-img img {
		margin: 0 20px;
		width: 62px;
	}
	.USICInfo .USICInfo-items {
		width: 60%;
		margin-top: 13px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.USICInfo .USICInfo-items .USICInfo-item {
		display: inline-block;
		margin: 10px 30px;
		vertical-align: top;
	}

	.USICcopyright {
		color: #c6c6c6;
    text-align: center;
		margin: 10px 20px;
	}

	@media print, screen and (max-width: 64em) {
		.USICInfo .USICInfo-items {
			width: 100%;
	    margin-top: 0;
	    display: block;
	  }
	}
    .font-resizer .fUp:hover, .font-resizer .fUp:focus, .font-resizer .fUp:active, .font-resizer .fDown:hover, .font-resizer .fDown:focus, .font-resizer .fDown:active {
    color: #ffffff;
    }
    .block-hf-font-resizer .fUp, .block-hf-font-resizer .fUp:hover, .block-hf-font-resizer .fUp:focus, .block-hf-font-resizer .fUp:active, .block-hf-font-resizer .fDown, .block-hf-font-resizer .fDown:hover, .block-hf-font-resizer .fDown:focus, .block-hf-font-resizer .fDown:active {
    color: #ffffff;
    }
</style>
<script>
	document.querySelector("#block-stacks-locations-bar-stacks-locations-bar").style.order = "9";
	document.querySelector("#block-stacks-locations-bar-stacks-locations-bar").style.padding = "0 0 0 100%";
	document.querySelector(".location-bar").style.padding = "0px";
</script><!--
<table class="USICInfo">
	<tr>
		<td>Joanna Nichols Memorial Libraries</td>
		<td>Phone: +8862 2873 9900</td>
		<td>Feedback/Comments </td>
	</tr>
	<tr>
		<td>Taipei American School</td>
		<td>Email: <a href="mailto:usic@tas.edu.tw">usic@tas.edu.tw</a></td>
		<td></td>
	</tr>
	<tr>
		<td>Taipei, Taiwan</td>
		<td>URL: <a href="www.tas.edu.tw">www.tas.edu.tw</a></td>
		<td></td>
	</tr>
</table>
<hr>
<style>
	#block-hf-footer-hf-footer-contact {
		display: none;
	}
	.USICInfo {

	}
	.USICInfo tbody {
		background: transparent;
		border: 0;
	}
	.USICInfo tbody tr {
		display: inline-block;
	}
	.USICInfo tbody tr:nth-child(2n) {
		background: transparent;
	}

</style>
--><!--START: Mobile Navi; chchang@ebsco.com; tylee@ebsco.com; 20191213--><script type="text/javascript">
  const classKeyword = 'menu-mlid';
  let menuList = document.querySelectorAll("#block-menu-block-4 ul > li");
  menuList.forEach((menu, index) => {
    if(menu.className.indexOf(classKeyword) >= 0) {
      if(menu.querySelectorAll("ul").length) {
        let newLabel = document.createElement('label');
        newLabel.setAttribute("for", 'checkbox_' + index);
        newLabel.innerHTML = '<div class="icon"></div>';
        let newCheckBox = document.createElement('input');
        newCheckBox.type = 'checkbox';
        newCheckBox.className = 'collapse-checkbox';
        newCheckBox.id = 'checkbox_' + index;

        // note: please add checkbox above the label html
        menu.insertBefore(newLabel, menu.firstChild);
        menu.insertBefore(newCheckBox, menu.firstChild);
      }
    }
  });
</script>
<style type="text/css">.menu > li {
    position: relative;
  }
  .collapse-checkbox {
    display: none;
  }
  .collapse-checkbox +label {
    width: 100%;
    height: 32px;
    margin: 0;
    position: absolute;
    top: 0px;
    z-index: 1000;
  }
  .collapse-checkbox +label .icon {
    content: " ";
    width: 12px;
    height: 12px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(315deg);
    position: absolute;
    top: 7px;
    right: 7px;
  }
  .collapse-checkbox:checked + label .icon {
    transform: rotate(405deg);
  }
  .collapse-checkbox ~ ul {
    overflow: hidden;
    max-height: 0px;
    transition: transform 1s;
  }
  .collapse-checkbox:checked ~ ul {
    max-height: 1000px;
  }
  #block-menu-block-4 ul li.leaf {
  background-color: #591a47;
  }
#header .main-nav .content .menu-block-wrapper > ul > li > a {
	color: #ffffff !important
}
</style>
<!--END: Mobile Navi; chchang@ebsco.com; tylee@ebsco.com; 20191213--><script id="framework" type="text/javascript" src="//gss.ebscohost.com/chchang/resource/js/s3448411/stack_footer.js"></script></div>  </div>
</div>
<div id="block-hf-footer-hf-footer-connect" class="block block-hf-footer ft-social align_right">


  <div class="content">
    <h5><connect now=""></connect></h5><div class="social-footer"></div>  </div>
</div>
<div id="block-hf-footer-hf-footer-contact" class="block block-hf-footer ft-contact align_left">


  <div class="content">
    <p class="cpright"><span class="allrights">Copyright © 2024</span> <span class="poweredby">Powered By <a href="http://stacksdiscovery.com" target="_blank">EBSCO Stacks</a> <small>3.3.0</small> <small>[350.3]</small> | <a href="/user">Admin Login</a></span></p><div class="contact-icons"></div><div class="contact-info"><p></p></div>  </div>
</div>
    </div>
  </div>
  </div>

</footer>
<%# end of FOOTER %>
</body>
